body {
    margin: 0;
    text-align: center;
}

.div1 {
    background-color: cyan;
    height: 5rem;
}
.div2 {
    background-color: cyan;
    width: 3rem;
    height: 36rem;
}
.div3 {
    background-color: cyan;
    width: 4rem;
    height: 36rem;
    position: absolute;
    right: 0rem;
    top: 5rem;
}
.div4 {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    position: absolute;
   top: 150px;
   right: 430px;
}
h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-top: 0;
    padding-top: 15px;
    font-family: 'Montserrat', sans-serif;
}
